In [1]:
#standard DS imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#sklearn imports
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score, precision_score, recall_score, plot_confusion_matrix

#custom imports
import acquire
import prepare

#filter out any noisy warning flags
import warnings
warnings.filterwarnings('ignore')

Create a new notebook, knn_model, and work with the titanic dataset to answer the following:

1. Fit a K-Nearest Neighbors classifier to your training sample and transform (i.e. make predictions on the training sample)

In [2]:
titanic = prepare.prep_titanic(acquire.get_titanic_data())

In [3]:
titanic.head()

,Unnamed: 0,survived,pclass,age,sibsp,parch,fare,embark_town,alone,sex_male,embark_town_Queenstown,embark_town_Southampton
0,0,0,3,22.0,1,0,7.2500,Southampton,0,1,0,1
1,1,1,1,38.0,1,0,71.2833,Cherbourg,0,0,0,0
2,2,1,3,26.0,0,0,7.9250,Southampton,1,0,0,1
3,3,1,1,35.0,1,0,53.1000,Southampton,0,0,0,1
4,4,0,3,35.0,0,0,8.0500,Southampton,1,1,0,1

In [8]:
titanic.embark_town.describe()

count             891
unique              3
top       Southampton
freq              646
Name: embark_town, dtype: object

In [5]:
pd.get_dummies(titanic[['embark_town']], dummy_na=False, drop_first=[True])

     embark_town_Queenstown  embark_town_Southampton
0                         0                        1
1                         0                        0
2                         0                        1
3                         0                        1
4                         0                        1
..                      ...                      ...
886                       0                        1
887                       0                        1
888                       0                        1
889                       0                        0
890                       1                        0

[891 rows x 2 columns]


2. Evaluate your results using the model score, confusion matrix, and classification report.


3. Print and clearly label the following: Accuracy, true positive rate, false positive rate, true negative rate, false negative rate, precision, recall, f1-score, and support.


4. Run through steps 1-3 setting k to 10


5. Run through steps 1-3 setting k to 20


6. What are the differences in the evaluation metrics? Which performs better on your in-sample data? Why?


7. Which model performs best on our out-of-sample data from validate?