Create a new notebook, random_forests, and work with titanic data to do the following:

In [1]:
#standard DS imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#sklearn imports
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score, precision_score, recall_score, plot_confusion_matrix

#custom imports
import acquire
import prepare

#filter out any noisy warning flags
import warnings
warnings.filterwarnings('ignore')

In [2]:
titanic = prepare.prep_titanic(acquire.get_titanic_data())

In [3]:
titanic.head()

,Unnamed: 0,survived,pclass,sex,age,sibsp,parch,fare,embark_town,alone,sex_male,embark_town_Queenstown,embark_town_Southampton
0,0,0,3,male,22.0,1,0,7.2500,Southampton,0,1,0,1
1,1,1,1,female,38.0,1,0,71.2833,Cherbourg,0,0,0,0
2,2,1,3,female,26.0,0,0,7.9250,Southampton,1,0,0,1
3,3,1,1,female,35.0,1,0,53.1000,Southampton,0,0,0,1
4,4,0,3,male,35.0,0,0,8.0500,Southampton,1,1,0,1


1. Fit the Random Forest classifier to your training sample and transform (i.e. make predictions on the training sample) setting the random_state accordingly and setting min_samples_leaf = 1 and max_depth = 10.


2. Evaluate your results using the model score, confusion matrix, and classification report.


3. Print and clearly label the following: Accuracy, true positive rate, false positive rate, true negative rate, false negative rate, precision, recall, f1-score, and support.


4. Run through steps increasing your min_samples_leaf and decreasing your max_depth.


5. What are the differences in the evaluation metrics? Which performs better on your in-sample data? Why?


After making a few models, which one has the best performance (or closest metrics) on both train and validate?