Create a new notebook, random_forests, and work with titanic data to do the following:

In [ ]:
#standard DS imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#sklearn imports
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score, precision_score, recall_score, plot_confusion_matrix

#custom imports
import acquire
import prepare

#filter out any noisy warning flags
import warnings
warnings.filterwarnings('ignore')

In [ ]:
titanic = prepare.prep_titanic(acquire.get_titanic_data())

In [ ]:
titanic.head()

In [ ]:
titanic = titanic.drop(columns=['sex', 'embark_town'])

In [ ]:
class_dummies = pd.get_dummies(titanic['class'])

In [ ]:
titanic = pd.concat([titanic, class_dummies], axis=1)

In [ ]:
titanic = titanic.drop(columns = ['class'])

In [22]:
titanic = titanic.drop(columns = ['embarked'])

In [25]:
titanic.head()

,Unnamed: 0,passenger_id,survived,pclass,sibsp,parch,fare,alone,embark_town_Queenstown,embark_town_Southampton,sex_male,First,Second,Third
0,0,0,0,3,1,0,7.2500,0,0,1,1,0,0,1
1,1,1,1,1,1,0,71.2833,0,0,0,0,1,0,0
2,2,2,1,3,0,0,7.9250,1,0,1,0,0,0,1
3,3,3,1,1,1,0,53.1000,0,0,1,0,1,0,0
4,4,4,0,3,0,0,8.0500,1,0,1,1,0,0,1

In [26]:
prepare.split_data(titanic, target='survived')

NameError: name 'train_test_split' is not defined


1. Fit the Random Forest classifier to your training sample and transform (i.e. make predictions on the training sample) setting the random_state accordingly and setting min_samples_leaf = 1 and max_depth = 10.


2. Evaluate your results using the model score, confusion matrix, and classification report.


3. Print and clearly label the following: Accuracy, true positive rate, false positive rate, true negative rate, false negative rate, precision, recall, f1-score, and support.


4. Run through steps increasing your min_samples_leaf and decreasing your max_depth.


5. What are the differences in the evaluation metrics? Which performs better on your in-sample data? Why?


After making a few models, which one has the best performance (or closest metrics) on both train and validate?